.rudra-logo {
    max-width: 330px;
    height: auto;
}

.navbar {
    background-color: var(--main-green);
}

.navbar-nav .nav-link {
    color: white !important;
}

.navbar-nav .dropdown-menu {
    background-color: white;
}

.navbar-nav .dropdown-item {
    color: var(--main-green);
}

.navbar-nav .dropdown-item:hover {
    background-color: var(--light-green);
}

/* Dropdown on hover */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    margin-top: 0;
    /* Adjusts the position */
}