<app-support-footer-area />

<div class="footer-area section-space--inner--top--80 dark-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-content-wrapper">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <!-- footer intro wrapper -->
                            <div class="footer-intro-wrapper">
                                <div class="footer-logo">
                                    <a href="#">
                                        <img src="assets/logo-light.png" class="img-fluid" alt="Company Logo">
                                    </a>
                                </div>
                                <div class="footer-desc">
                                    <p class="text-justify">
                                        Deenijob Global India started functions actively on the market since 2014.
                                        During
                                        7 years of activity, we developed from a small, unknown firm into a company
                                        employing about 120 people that is a leader on the market of enterprise
                                        solutions. We carry on business in Telecommunication, Electrical and
                                        Construction Engineering, Industrial Equipment Manufacturing & Trading, as well
                                        as Hospitality Services, with a special focus on technology design, development,
                                        implementation, support, consulting, and utilization training.
                                    </p>
                                </div>
                                <div class="social-links">
                                    <ul>
                                        <li><a href="http://facebook.com/" target="_blank"><i
                                                    class="bi bi-facebook"></i></a></li>
                                        <li><a href="http://twitter.com/" target="_blank"><i
                                                    class="bi bi-twitter"></i></a></li>
                                        <li><a href="http://linkedin.com/" target="_blank"><i
                                                    class="bi bi-linkedin"></i></a></li>
                                        <li><a href="http://skype.com/" target="_blank"><i class="bi bi-skype"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">USEFUL LINKS</h4>
                                <ul class="footer-widget__navigation">
                                    <li><a href="who-we-are.php">Who We Are</a></li>
                                    <li><a href="vision-mission.php">Vision & Mission</a></li>
                                    <li><a href="core-values.php">Core Values</a></li>
                                    <li><a href="quality-management.php">Quality Management</a></li>
                                    <li><a href="shop.php">OUR PRODUCTS</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">USEFUL LINKS</h4>
                                <ul class="footer-widget__navigation">
                                    <li><a href="privacy-policy.php">Privacy Policy</a></li>
                                    <li><a href="refund-cancellation.php">Refund & Cancellation Policy</a></li>
                                    <li><a href="terms-condition.php">Terms & Conditions</a></li>
                                    <li><a href="health-environment-policy.php">Health & Environment Policy</a></li>
                                    <li><a href="shipping-policy.php">Shipping Policy</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-4">
                            <!-- footer widget -->
                            <div class="footer-widget">
                                <h4 class="footer-widget__title">SERVICES</h4>
                                <ul class="footer-widget__navigation">
                                    <li><a href="service.php?service=civil-engineering" class="act">Civil
                                            Engineering</a></li>
                                    <li><a href="service.php?service=electrical-engineering" class="act">Electrical
                                            Engineering</a></li>
                                    <li><a href="service.php?service=telecommunication-engineering"
                                            class="act">Telecommunication Engineering</a></li>
                                    <li><a href="service.php?service=medium-small-scale-machinery-manufacturing-trading"
                                            class="act">Medium & Small Scale Machinery Manufacturing And Trading</a>
                                    </li>
                                    <li><a href="service.php?service=hospitality-services" class="act">Hospitality
                                            Services</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-copyright></app-footer-copyright>