<div class="row">
    <div class="col-lg-12">
        <div class="footer-copyright-wrapper">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright-left">
                        &copy; 2021 RUDRARV GLOBAL INDIA PVT. LTD.
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="footer-copyright-right">
                        <ul class="footer-copyright-right__navigation">

                            <li><a href="#">Site Map</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>