<div class="contact-area section-space--inner--60 bg-img position-relative" data-bg="assets/img/backgrounds/19.jpg"
    style="background-image: url('assets/contact.jpg')">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6 ">
                <h2 class="breadcrumb-page-title position-absolute top-50 ">CONTACT US</h2>
            </div>
        </div>
    </div>
</div>

<div class="icon-info-area section-space--inner--80 section-space--inner--bottom--80  grey-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="icon-info-wrapper">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="single-icon-info">
                                <div class="single-icon-info__image">
                                    <img src="assets/location-yellow.png" class="img-fluid" alt="">
                                </div>
                                <div class="single-icon-info__content">
                                    <h4 class="single-icon-info__title single-icon-info__title--black2">Location
                                    </h4>
                                    <p class="single-icon-info__text">RUDRARV GLOBAL INDIA PVT. LTD. <br>Plot No.9,
                                        Khasra No.1359,<br> Shivari, Mohan Road, Lucknow-226101, INDIA
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-icon-info">
                                <div class="single-icon-info__image">
                                    <img src="assets/support-yellow.png" class="img-fluid" alt="">
                                </div>
                                <div class="single-icon-info__content">
                                    <h4 class="single-icon-info__title single-icon-info__title--black2">Call Center
                                    </h4>
                                    <p class="single-icon-info__text">+91-8090494087
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="single-icon-info">
                                <div class="single-icon-info__image">
                                    <img src="assets/message-yellow.png" class="img-fluid" alt="">
                                </div>
                                <div class="single-icon-info__content">
                                    <h4 class="single-icon-info__title single-icon-info__title--black2">Email Us
                                    </h4>
                                    <p class="single-icon-info__text">contact&#64;rudrarvglobal.com </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>