<div class="support-footer__area">
    <div class="row g-0 ">
        <div class="col-md-6">
            <div class="support-footer__single bg-img" data-bg="assets/img/icons/message.png"
                style="background-image: url('assets/message.png')">
                Email: mohdamir2k&#64;gmail.com
            </div>
        </div>
        <div class="col-md-6">
            <div class="support-footer__single support-footer__single--dark bg-img"
                data-bg="assets/img/icons/support.png" style="background-image: url('assets/support.png')">
                +91-7991584485
            </div>
        </div>
    </div>
</div>