.support-footer__single {
    text-align: center;
    font-weight: 700;
    color: #222;
    font-size: 1.55rem;
    background-color: rgba(4, 170, 109, 0.6);
    background-repeat: no-repeat;
    background-position: 110px center;
    padding: 20px 15px;
}

.support-footer__single--dark {
    background-color: rgba(4, 170, 109, 0.7);
}