<div class="about-icon-box">
    <div class="about-icon-box__image">
        <img [src]="cardData.img" alt="{{cardData.img}}">
    </div>

    <div class="about-icon-box__content">
        <h4 class="title text-blue">{{cardData.heading}}</h4>
        <p class="content">{{cardData.content}}</p>
        <!-- <a href="who-we-are.php" class="see-more-link">SEE MORE <i class="ion-arrow-right-c"></i></a> -->
        <button type="button" class="btn btn-light see-more-link">SEE MORE</button>
    </div>

</div>