<main>
    <section>
        <app-home-carousel />
    </section>
    <section>
        <app-home-amir-services />
    </section>
    <section>
        <app-testimonial-slider />
        <app-brand-logo-slider />
    </section>
    <section>
        <app-service-slider />
    </section>
    <!-- <section class="results">
        <app-housing-location *ngFor="let housingLocation of housingLocationList"
            [housingLocation]="housingLocation"></app-housing-location>
    </section> -->
</main>